django
djangorestframework
drf-spectacular

djangorestframework-simplejwt
django-health-check

psycopg2-binary
dj-database-url
redis
django-redis

celery

requests

structlog

gunicorn

python-decouple