django
djangorestframework
drf-spectacular # Para Swagger/OpenAPI

djangorestframework-simplejwt
django-health-check

psycopg2-binary # Driver do PostgreSQL
redis
django-redis

celery

requests

structlog

gunicorn

python-decouple